body {
    font-family: Arial;
    margin: 40px;
    background-color: #f2f2f2;
}
/* العنوان الرئيسي */
.style1 {
    text-align: center;
    color: darkred;
}

/* الكلمات الخضر */
.style2 {
    color: green;
    font-weight: bold;
}

/* الاسم */
.style3 {
    font-style: italic;
}

/* تقسيم الصفحة */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

/* جهة المعلومات */
.info {
    width: 45%;
    line-height: 30px;
}

/* كل سطر معلومات */
.info-row {
    margin-bottom: 15px; /* مسافة بين الصفوف */
}

/* الصورة */
.image img {
    width: 250px;
    height: auto;
    border: 1px solid black;
    margin-left: 50px;
}
